@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Work Sans", system-ui, sans-serif;
    height: 100%;
    overflow: hidden;
    font-size: calc(15px + 0.390625vw);
  }
  body {
    height: 100%;
    overflow: hidden;
  }
}

.nav-li {
  @apply text-figma-blue font-medium flex text-base items-center gap-7 mb-3;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.mobile-nav-active {
  @apply bg-figma-blue w-20 h-20 rounded-[50%] left-[50%] top-0 -translate-y-1/2 -translate-x-1/2
}

.mobile-nav-active img {
  @apply w-14 h-14;
}

.mobile-nav-1 {
  @apply w-10 h-10 rounded-2xl max-[380px]:left-[20%] left-[25%] top-4
}

.mobile-nav-2 {
  @apply w-10 h-10 rounded-2xl max-[380px]:right-[20%] right-[25%]  top-4
}

.mobile-nav-3 {
  @apply w-10 h-10 rounded-2xl max-[380px]:left-[3%] left-[10%] bottom-2
}

.mobile-nav-4 {
  @apply w-10 h-10 rounded-2xl max-[380px]:right-[3%] right-[10%] bottom-2
}

.tablet-nav-item {
  @apply inline-flex flex-col items-center gap-1
}

.underline-custom {
  position: relative;
  display: inline-block; /* To ensure the pseudo-element aligns properly */
}

.underline-custom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px; /* Position the underline 8px below the text */
  height: 1px; /* Adjust thickness */
  background-color: theme('colors.figma-nav-green'); /* Use the custom color */
}

.sliding-part {
  @apply bg-white h-20 w-7 relative
}

.sliding-part.active .circle {
  @apply block
}

.sleep-info {
  @apply  text-[#61646B] text-center
}

.sleep-info h4 {
  @apply text-xl font-semibold w-24
}

.sleep-info p {
  @apply font-light
}

.faux-gap {
  @apply h-4 bg-white w-7 col-span-3
}

.circle {
  @apply absolute top-0 left-1/2 -translate-x-1/2  w-16 h-16 rounded-full shadow-xl hidden;
}

.character-container {
  @apply h-20 w-20 rounded-2xl shadow flex justify-center items-end
}

.character-container-full {
  @apply  rounded-full shadow-2xl flex justify-center items-center 
}


.character-container img {

}